*{
	font-family:Calibri;}
#calculator{
	}
#content{
	border:solid 2px;
	width:650px;
	height:500px;
	background:#FFF;
	border-radius:20px;
	-moz-border-radius:20px; /* Firefox 3.6 and earlier */
	margin-left:10px;
	margin-top:15px;
	}
#result{
	width:640px;
	height:350px;
	margin-right:11px;
	}
#_result_title{
	margin-top:10px;
	margin-left:10px;
}
#_difference_color{
	margin-top:10px;
	margin-left:10px;
}
#detail{
	
	}
#_detail_title{
	margin-left:10px;}
#_lable{
	margin-left:50px;}
#_enter_box{
	margin-left:48px;}
.lable{
	width:200px;
	float:left;}
._detail_box{
	width:200px;
	float:left;}
#_slider{
	margin-top:20px;}
.slider{
	width:130px;
	float:left;
	}
#_mortgage_slider{
	margin-left:240px;}
#_interest_slider{
	margin-left:70px;}
.select_option{
	float:left;
	}
#_rfrequency_title{
	margin-left:20px;}
#_rfrequency_box{
	margin-left:20px;}
#_rtype_title{
	margin-left:20px;}
#_rtype_box{
	margin-left:20px;}
#frequency_and_type{
	margin-top:70px;}
#_button{
	float:right;
	margin-right:40px;}
#placeholder{
	margin-left:8px;
	margin-top:20px;
	width:350px;
	height:270px;
	background-color:#FFF;}
#_right_result{
	float:right; 
	margin-right:5px; 
	margin-top:45px;
	border:#000 solid thin;
	width:270px;
	height:250px;
	border-radius:20px;
	-moz-border-radius:20px; /* Firefox 3.6 and earlier */
}
#_mortgage_repayment_result{
	margin-left:10px;
	margin-top:40px;
	font-size:10px;}
#_total_repayment_bar{
	margin-top:35px;
	margin-left:7px;
	border:#028802 solid thin;
	width:250px;
	height:20px;
	}
#_box{
	background-color:#028802;
	height:20px;
	width:0px;}
#x{
	float:left;
	margin-left:20px;
	color:#028802;}
#y{
	float:right;
	margin-right:20px;
	color:#999;}